.Movies_List {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 40px;
}

.Movie {
  flex-basis: calc(33% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  margin: 5px;
  min-width: 150px;
}

.Movie span{
	font-weight: bolder;
}