.movieContainer {
	display: flex;
	padding: 5px;
}

.movieImage, .movieDescription {
	width: 50%;
	box-sizing: border-box;
}

.movieImage img {
	width: 100%;
}

.movieDescription {
	padding: 10px;
}

.addComment {
	width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
    text-align: center;
}

.addComment textarea {
	width: 100%;
}

.userComment {
	border-bottom: 1px solid;
}

.userComment_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userComment_header p:first-child {
	font-weight: bold;
}

.userComment_header p:last-child {
	font-size: 10px;
}

.userComment_text {
	font-style: italic;
}
