.loginForm {
	margin: 10px auto;
	width: 50%;
	border: 1px solid lightblue;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.loginForm > p, .loginForm > h1, .loginForm > div {
	text-align: center;
}

.loginForm input {
	width: 70%;
	height: 24px;
	border-radius: 5px;
	padding: 5px;
}

.loginForm button {
	width: 25%;
	height: 36px;
	border-radius: 5px;
	cursor: pointer;
    margin: 10px;
}